* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(76, 33, 42);
    align-items: center;
    z-index: 9999;  
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: antiquewhite;
}

header a {
    text-decoration: none;
    color:antiquewhite;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
  }

  header nav ul li a:hover {
    background: antiquewhite;
    color: black;
    border-radius: 20px;
  }

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */

.hero {
    background-color: rgb(1, 23, 47);
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 15px;
    height: 2.5in;
  }

.hero-title h2 {
    font-style: bold;
    font-size: 40px;
    color: antiquewhite;
    padding-right: 20px;
  }

/* HERO STYLES END */

/* START OF ABOUT ME */

#about-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.about-title {
  font-size: 30px;
  align-self: center;
  text-align: center;
  padding: 20px;
  flex-grow: 1;
}

.image {
  flex-grow: 1;
  align-self: center;
}

.about-para {
  font-size: 20px;
  padding: 10px;
  align-self: center;
  flex-grow: 8;
}

/* END OF ABOUT ME */

/* START OF PROJECTS */

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.surf-report {
  width: 100%;
  margin: 30px;
  background-color: rgb(0, 99, 93);
  border: solid 20px rgb(8, 164, 189);
  height: 3in;
}

.surf-report h4 {
  font-size: 25px;
  padding: 10px;
}

.led-wall {
  order: 3;
  width: 45%;
  margin: 10px;
  background-color: rgb(0, 99, 93);
  border: solid 20px rgb(8, 164, 189);
  height: 3in;
}

.led-wall h4 {
  font-size: 25px;
  padding: 10px;
}

.calculator {
  order: 4;
  width: 45%;
  margin: 10px;
  background-color: rgb(0, 99, 93);
  border: solid 20px rgb(8, 164, 189);
  height: 3in;
}

.calculator h4 {
  font-size: 25px;
  padding: 10px;
}

.pastel-puzzles {
  order: 5;
  width: 45%;
  margin: 10px;
  background-color: rgb(0, 99, 93);
  border: solid 20px rgb(8, 164, 189);
  height: 3in;
}

.pastel-puzzles h4 {
  font-size: 25px;
  padding: 10px;
}

.pastel-puzzles h4 a{
  text-decoration: none;
  color:antiquewhite;
}

.run-buddy {
  order: 6;
  width: 45%;
  margin: 10px;
  background-color: rgb(0, 99, 93);
  border: solid 20px rgb(8, 164, 189);
  height: 3in;
}

.run-buddy h4 {
  font-size: 25px;
  padding: 10px;
}

.run-buddy h4 a {
  text-decoration: none;
  color:antiquewhite;
}

/* END OF PROJECTS */

/* START OF FOOTER */

footer {
  padding: 20px 35px;
  background-color: rgb(76, 33, 42);
  align-items: center;
}

footer a {
  text-decoration: none;
  color:antiquewhite;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

footer ul li a {
  padding: 10px 15px;
  font-size: 20px;
  color:antiquewhite;
}
footer ul li a:hover {
  background: antiquewhite;
  color: black;
  border-radius: 20px;
}
/* END OF FOOTER */

