* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(76, 33, 42);
    align-items: center;
    z-index: 9999;  
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: antiquewhite;
}

header a {
    text-decoration: none;
    color:antiquewhite;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
  }

  header nav ul li a:hover {
    background: antiquewhite;
    color: black;
    border-radius: 20px;
  }

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */

.hero {
    background-color: rgb(1, 23, 47);
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 15px;
    height: 2.5in;
  }

.hero-title h2 {
    font-style: bold;
    font-size: 40px;
    color: antiquewhite;
    padding-right: 20px;
  }

/* HERO STYLES END */

/* START OF FOOTER */

footer {
  padding: 20px 35px;
  background-color: rgb(76, 33, 42);
  align-items: center;
}

footer a {
  text-decoration: none;
  color:antiquewhite;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

footer ul li a {
  padding: 10px 15px;
  font-size: 20px;
  color:antiquewhite;
}

/* END OF FOOTER */